streamlit==1.34.0
ultralytics==8.3.133
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
numpy==2.2.5
pandas==2.2.3
matplotlib==3.10.3
seaborn==0.13.2
torch==2.7.0
torchvision==0.22.0
Pillow==10.3.0     # ✅ compatible with streamlit
scipy==1.15.3
psutil==7.0.0
requests==2.32.3
fsspec==2025.3.2
filelock==3.18.0
tqdm==4.67.1
